# Configure Apache to use mod_rewrite, allowing us to
# omit the .php file extension in the URL

RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]